{% extends '::base.html.twig' %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Promotion
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <form action="{{ path('add_promotions_action') }}" method="post" name="add_promotion_acion" enctype='multipart/form-data'>
                <div class="form-group has-feedback {{ class_error }}">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name" name="{{ form.name.vars.full_name }}">
                    <span class="help-block">{{ form_errors(form.name) }}</span>
                    <span class="glyphicon  form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <label>Date Start:</label>
                    {#<div class="input-group date">#}
                        {#<div class="input-group-addon">#}
                            {#<i class="fa fa-calendar"></i>#}
                        {#</div>#}
                        {#<input type="text" class="form-control pull-right" id="dateStart" name="{{ form.dateStart.vars.full_name }}">#}
                    {#</div>#}
                    {{ form_widget(form.dateStart) }}
                    <span class="help-block">{{ form_errors(form.dateStart) }}</span>
                    <!-- /.input group -->
                </div>
                <div class="form-group">
                    <label>Date End:</label>

                    {#<div class="input-group date">#}
                        {#<div class="input-group-addon">#}
                            {#<i class="fa fa-calendar"></i>#}
                        {#</div>#}
                        {#<input type="text" class="form-control pull-right" id="dateEnd" name="{{ form.dateEnd.vars.full_name }}">#}
                    {#</div>#}
                    {{ form_widget(form.dateEnd) }}
                    <span class="help-block">{{ form_errors(form.dateEnd) }}</span>
                    <!-- /.input group -->
                </div>
                <div class="form-group has-feedback {{ class_error }}">
                    <label>Percentage</label>
                    <input type="text" class="form-control" placeholder="Percentage" name="{{ form.percentage.vars.full_name }}">
                    <span class="help-block">{{ form_errors(form.percentage) }}</span>
                    <span class="glyphicon  form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback ">
                    <label>Category</label>
                    {{ form_widget(form.category) }}
                    <span class="help-block">{{ form_errors(form.category) }}</span>
                    <span class="glyphicon  form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form._token) }}
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Add Promotion</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

