{% extends "::base.html.twig" %}
{% block title %}All Promotions{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Promotions
            </h1>

            {% for msg in app.session.flashBag.get('info') %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-info"></i> Info!</h4>
                    {{ msg }}
                </div>
            {% endfor %}

            {% for msg in app.session.flashBag.get('delete') %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-info"></i> Alert!</h4>
                    {{ msg }}
                </div>
            {% endfor %}

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">All Promotions</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Percentage</th>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                        {% for item in promotions %}

                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.dateStart|date('Y-m-d') }}</td>
                                <td>{{ item.dateEnd|date('Y-m-d') }}</td>
                                <td>{{ item.percentage }} %</td>
                                <td>{{ item.category|default('No category selected') }}</td>
                                <td>
                                    <form method="post" action="{{ path("delete_promotion_action", {id: item.id}) }}">
                                        <button type="submit" class="btn btn-block btn-danger">Delete</button>
                                    </form>
                                    <a href="{{ path('edit_promotion_view',{id: item.id}) }}"><button type="button" class="btn btn-block btn-warning">Edit</button></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

            <a href="{{ path('add_promotions_view') }}"><button type="button" class="btn btn-block btn-success">Add new</button></a>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

