{% extends '::base.html.twig' %}
{% block title %} Add Product{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Product
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <form action="{{ path('add_product_action') }}" method="post" name="add_product_acion" enctype='multipart/form-data'>
                <div class="form-group has-feedback {{ class_error }}">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name" name="{{ form.title.vars.full_name }}" required>
                    <span class="help-block">{{ form_errors(form.title) }}</span>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.title) }}</span>
                </div>
                <div class="form-group has-feedback {{ class_error }}">
                    <label>Description</label>
                    <input type="text" class="form-control" placeholder="Description" name="{{ form.description.vars.full_name }}" required>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.description) }}</span>
                </div>
                <div class="form-group has-feedback {{ class_error }}">
                    <label>Quantity</label>
                    <input type="number" class="form-control" placeholder="Quantity" name="{{ form.quantity.vars.full_name }}" required>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.quantity) }}</span>
                </div>
                <div class="form-group has-feedback {{ class_error }}">
                    <label>Price</label>
                    <input type="text" class="form-control" placeholder="Price" name="{{ form.price.vars.full_name }}" required>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.price) }}</span>
                </div>
                <div class="form-group {{ class_error }}">
                    <label>Category</label>
                    <select class="form-control" name="{{ form.category.vars.full_name }}" required>
                        {% for option in  form.category.vars.choices %}
                            <option value="{{ option.value }}">{{ option.data.title }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">{{ form_errors(form.category) }}</span>
                </div>

                <div class="form-group has-feedback {{ class_error }}">
                    <label>Picture</label>
                    <input type="file" class="form-control"  name="{{ form.imageForm.vars.full_name }}" required>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.imageForm) }}</span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form._token) }}
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Add Product</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

