{% extends '::base.html.twig' %}
{% block title %}Edit Product{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Edit Product
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="col-md-12">
                <div class="col-md-3">
                    <img src="{{ asset('uploads/'~ product_image|default('dummyproductimage.jpg')) }}" />
                </div>
            </div>
            <form action="" method="post" enctype='multipart/form-data'>
                <div class="form-group has-feedback">
                    <label>Image</label>
                    <input type="file" class="form-control" placeholder="Image"  name="{{ form.imageForm.vars.full_name }}">
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.imageForm) }}</span>
                </div>
                <div class="form-group has-feedback">
                    <label>Product Name</label>
                    <input type="text" class="form-control" placeholder="Product Name" value="{{ form.title.vars.value }}" name="{{ form.title.vars.full_name }}" required>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.title) }}</span>
                </div>
                <div class="form-group has-feedback">
                    <label>Product Description</label>
                    <input type="text" class="form-control" placeholder="Product Description" value="{{ form.description.vars.value }}" name="{{ form.description.vars.full_name }}" required>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.description) }}</span>
                </div>
                <div class="form-group has-feedback">
                    <label>Product Quantity</label>
                    <input type="number" class="form-control" placeholder="Product Quantity" value="{{ form.quantity.vars.value }}" name="{{ form.quantity.vars.full_name }}" required>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.quantity) }}</span>
                </div>
                <div class="form-group has-feedback">
                    <label>Position</label>
                    <input type="number" class="form-control" placeholder="Position" value="{{ form.position.vars.value }}" name="{{ form.position.vars.full_name }}">
                    <span class="glyphicon  form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <label>Product Price</label>
                    <input type="text" class="form-control" placeholder="Product Price" value="{{ form.price.vars.value }}" name="{{ form.price.vars.full_name }}" required>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.price) }}</span>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" name="{{ form.category.vars.full_name }}" required>
                        <option value="{{ form.vars.data.category.id }}">{{ form.vars.data.category.title }}</option>
                        {% for option in  form.category.vars.choices %}
                        <option value="{{ option.value }}">{{ option.data.title }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">{{ form_errors(form.category) }}</span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form._token) }}
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Edit Product</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

