{% extends "::base.html.twig" %}
{% block title %}All Products{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Products
            </h1>

            {% for msg in app.session.flashBag.get('info') %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-info"></i> Info!</h4>
                    {{ msg }}
                </div>
            {% endfor %}

            {% for msg in app.session.flashBag.get('delete') %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-info"></i> Alert!</h4>
                    {{ msg }}
                </div>
            {% endfor %}

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">All Products</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Created date</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                        {% for item in products %}

                            <tr>
                                <td>{{ loop.index }}</td>
                                <td style="width: 150px"><img src="{{ asset('uploads/'~ item.productImage|default('dummyproductimage.jpg')) }}" /></td>
                                <td>{{ item.title|default('no title')|upper }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.dateCreated|date("d/m/Y") }}</td>
                                <td>{{ item.quantity|default('Out of Stock') }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.category|default('no category')|upper }}</td>
                                <td>
                                    <form method="post" action="{{ path("delete_product_action", {id: item.id}) }}">
                                        <button type="submit" class="btn btn-block btn-danger">Delete</button>
                                    </form>
                                    <a href="{{ path('edit_product_view',{id: item.id}) }}"><button type="button" class="btn btn-block btn-warning">Edit</button></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="navigation">
                    {{ knp_pagination_render(products) }}
                </div>
            </div>

            <a href="{{ path('add_product_view') }}"><button type="button" class="btn btn-block btn-success">Add new</button></a>

        </section>

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}