{% extends "::base.html.twig" %}
{% block title %}All Orders{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Orders
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">All Orders</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Date</th>
                            <th>Products</th>
                            <th>User Id</th>
                        </tr>
                        {% for item in orders %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ item.orderDate|date('Y-m-d') }}</td>
                                <td>
                                    {% for products in item.orderedProducts %}
                                        <table class="table table-bordered">
                                            <tr>
                                                <td>Id</td>
                                                <td>Price</td>
                                            </tr>
                                            <tr>
                                                <td>{{ products.id }}</td>
                                                <td>{{ products.price }}</td>
                                            </tr>
                                        </table>
                                    {% endfor %}

                                </td>
                                <td>{{ item.userId }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

