{% extends "frontend/index.html.twig" %}
{% block content %}
    {% if itemCart %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Cart</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        {% for item in itemCart %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td><img style="width: 50px;" src="{{ asset('uploads/' ~ item.productImage) }}" ></td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.price }}</td>
                            <td>    <a href="{{ path('remove_item', {id: item.id}) }}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="agileshoppinggrids-bottom-grids">
                    <div class="col-md-6 agileshoppinggrids-bottom-grid agileshoppinggrids-bottom-grid1">
                        <div class="wthreeshop-a">
                            <a href="{{ path('checkout_view') }}">CheckOut</a>
                        </div>
                    </div>
                    <div class="col-md-6 agileshoppinggrids-bottom-grid agileshoppinggrids-bottom-grid2">
                        <div class="wthreeshop-a">
                            <a href="{{ path('front_home') }}">SHOP MORE</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{% else  %}
    <div class="alert alert-info" role="alert">
        <strong>Heads up!</strong> The Cart is empty
    </div>
{% endif %}
{% endblock %}

