{% extends 'frontend/index.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">CHECKOUT</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                        {% for item in itemCart %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td><img style="width: 50px;" src="{{ asset('uploads/' ~ item.productImage) }}" ></td>
                                <td>{{ item.title }}</td>
                                <td>{{ item.price }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Subtotal: </b>{{ subtotal }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form method="post" action="{{ path('checkout_action') }}" enctype='multipart/form-data'>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Username</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="Username" value="{{ form.username.vars.value }}" name="{{ form.username.vars.full_name }}">
                            <span class="help-block">{{ form_errors(form.username) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control input email aitsw3ls" id="inputEmail" placeholder="Email" value="{{ form.email.vars.value }}" name="{{ form.email.vars.full_name }}">
                            <span class="help-block">{{ form_errors(form.email) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">First Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="First Name" value="{{ form.first_name.vars.value }}" name="{{ form.first_name.vars.full_name }}">
                            <span class="help-block">{{ form_errors(form.first_name) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputExperience" class="col-sm-2 control-label">Last Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" value="{{ form.last_name.vars.value }}" name="{{ form.last_name.vars.full_name }}">
                            <span class="help-block">{{ form_errors(form.last_name) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputExperience" class="col-sm-2 control-label">Address</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLastName" placeholder="Address" value="{{ form.address.vars.value }}" name="{{ form.address.vars.full_name }}">
                            <span class="help-block">{{ form_errors(form.address) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputExperience" class="col-sm-2 control-label">Phone Number</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLastName" placeholder="Phone Number" value="{{ form.phone.vars.value }}" name="{{ form.phone.vars.full_name }}">
                            <span class="help-block">{{ form_errors(form.phone) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_row(form._token) }}
                            <button type="submit" class="btn btn-danger">Confirm Order</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}

