<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<!-- Head -->
<head>

    <title>{% block title %}Home{% endblock %}</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->
    {% block stylesheets %}

        <!-- Custom-StyleSheet-Links -->
        <!-- Bootstrap-CSS -->	   <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"					type="text/css" media="all">
        <!-- Index-Page-CSS -->	   <link rel="stylesheet" href="{{ asset('frontoffice/css/style.css') }}"						type="text/css" media="all">
        <!-- Header-Slider-CSS --> <link rel="stylesheet" href="{{ asset('frontoffice/css/fluid_dg.css') }}" id="fluid_dg-css" type="text/css" media="all">
        <!-- //Custom-StyleSheet-Links -->

        <!-- Fonts -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700"	   type="text/css" media="all">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"	   type="text/css" media="all">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css" media="all">
        <!-- //Fonts -->

        <!-- Font-Awesome-File-Links -->
        <!-- CSS --> <link rel="stylesheet" href="{{ asset('frontoffice/css/font-awesome.css') }}" 		 type="text/css" media="all">
        <!-- TTF --> <link rel="stylesheet" href="{{ asset('frontoffice/fonts/fontawesome-webfont.ttf') }}" type="text/css" media="all">
        <!-- //Font-Awesome-File-Links -->

        <!-- Supportive-Modernizr-JavaScript --><script src="{{ asset('frontoffice/js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>

        <!-- Default-JavaScript --><script src="{{ asset('frontoffice/js/jquery-2.2.3.js') }}"></script>
    {% endblock %}
</head>
<!-- //Head -->



<!-- Body -->
<body>



<!-- Header -->
<div class="agileheader" id="agileitshome">

    <!-- Navigation -->
    <nav class="navbar navbar-default w3ls navbar-fixed-top">
        <div class="container">
            <div class="navbar-header wthree nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand agileinfo" href="{{ path('front_home') }}"><span>Online</span> Shop</a>
                <ul class="w3header-cart">
                    <li class="wthreecartaits"><span class="my-cart-icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><span class="badge badge-notify my-cart-badge"></span></span></li>
                </ul>
            </div>
            <div id="bs-megadropdown-tabs" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {#<li class="dropdown">#}
                        {#<a href="#" class="dropdown-toggle w3-agile hyper" data-toggle="dropdown"><span> MEN </span></a>#}

                    {#</li>#}

                    {#<li class="dropdown">#}
                        {#<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> WOMEN </span></a>#}
                        {##}
                    {#</li>#}
                    <li><a href="{{ path('products_category',{id: 4}) }}">Men</a></li>
                    <li><a href="{{ path('products_category',{id: 5}) }}">Women</a></li>
                    <li><a href="{{ path('products_category',{id: 8}) }}">Accessories</a></li>

                </ul>
            </div>

        </div>
    </nav>
    <!-- //Navigation -->



    <!-- Header-Top-Bar-(Hidden) -->
    <div class="agileheader-topbar">
        <div class="container">
            <div class="col-md-6 agileheader-topbar-grid agileheader-topbar-grid1">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                    <div class="alert alert-info" role="alert">
                        <a href="{{ path('admin_dashboard') }}"><strong>Back to the Admin Panel!</strong></a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6 agileheader-topbar-grid agileheader-topbar-grid2">
                <ul>
                    {% if app.user %}
                        <p>Welcome back, {{ app.user.username }} !</p>
                        <p>Your wallet: {{ app.user.cash|default('empty') }} !</p>
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                        <li><a href="{{ path('cart_view') }}">View Cart</a></li>
                        <li><a href="{{ path('fo_users_profile_action') }}">Profile</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Login</a></li>
                        <li><a href="{{ path('user_register_form') }}">Sign Up</a></li>
                    {% endif %}

                    {#<li><a href="contact.html">Contact</a></li>#}
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <!-- //Header-Top-Bar-(Hidden) -->

</div>
<!-- //Header -->

{% for msg in app.session.flashBag.get('addTocart') %}
    <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> {{ msg }} <a href="{{ path('cart_view') }}">View Cart<i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
    </div>
{% endfor %}
{% for msg in app.session.flashBag.get('info') %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-info"></i> Info!</h4>
        {{ msg }}
    </div>
{% endfor %}
{% block content %}
<!-- Latest-Arrivals -->
<div class="wthreehome-latest">
    <div class="container">

        <div class="wthreehome-latest-grids">
            <a href="{{ path('fo_all_products') }}"> <div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid-0">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="{{ asset('frontoffice/images/about-image-3.jpg') }}" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <h4>All Products</h4>
                <h5>View all products</h5>
                <h6><a href="{{ path('fo_all_products') }}">Shop Now</a></h6>
            </div>
            </a>
            {% for category in all_categories %}
                {#<li><a href="{{ path('products_category', {id: category.id}) }}">{{ category.title }}</a></li>#}
            <a href="{{ path('products_category', {id: category.id}) }}">
                <div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid{{ loop.index }}">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="{{ asset('uploads/'~ category.categoryImage|default('dummyproductimage.jpg')) }}" alt="Groovy Apparel">
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <h4>{{ category.title }}</h4>
                    <h5>{{ category.description }}</h5>
                    <h6><a href="{{ path('products_category', {id: category.id}) }}">Shop Now</a></h6>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<!-- //Latest-Arrivals -->


<!-- Clearance-Sale -->
    <div class="aitsclearance-sales">
        <div class="aitsclearance-sales-text">
            <h2>Only today</h2>
            <h4>The Biggest Promotion for today</h4>
            <h5>{{ promo }}%</h5>
            <div class="wthreeshop-a">
                <a href="{{ path('fo_all_products') }}">SHOP NOW</a>
            </div>
        </div>
    </div>
<!-- //Clearance-Sale -->

{% endblock %}

<!-- Copyright -->
<div class="w3lscopyrightaits">
    <div class="col-md-8 w3lscopyrightaitsgrid w3lscopyrightaitsgrid1">
        <p>© 2017 OnlineShop</p>
    </div>
    <div class="col-md-4 w3lscopyrightaitsgrid w3lscopyrightaitsgrid2">
        <div class="agilesocialwthree">
            <ul class="social-icons">
                <li><a href="#" class="facebook w3ls" title="Go to Our Facebook Page"><i class="fa w3ls fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="#" class="twitter w3l" title="Go to Our Twitter Account"><i class="fa w3l fa-twitter-square" aria-hidden="true"></i></a></li>
                <li><a href="#" class="googleplus w3" title="Go to Our Google Plus Account"><i class="fa w3 fa-google-plus-square" aria-hidden="true"></i></a></li>
                <li><a href="#" class="instagram wthree" title="Go to Our Instagram Account"><i class="fa wthree fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#" class="youtube w3layouts" title="Go to Our Youtube Channel"><i class="fa w3layouts fa-youtube-square" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //Copyright -->



<!-- Custom-JavaScript-File-Links -->

<!-- Default-JavaScript --><script src="{{ asset('frontoffice/js/jquery-2.2.3.js') }}"></script>
<script src="{{ asset('frontoffice/js/modernizr.custom.js') }}"></script>

<!-- Bootstrap-JavaScript --> <script src="{{ asset('js/bootstrap.min.js') }}"></script>

</body>
<!-- //Body -->



</html>


