<div class="review-form">
    {{ form_start(reviewForm,{'action': path('leave_review_process', {'id': product.id})}) }}
    {{ form_widget(reviewForm) }}
    <input type="submit" value="Leave comment!"/>
    {{ form_end(reviewForm) }}
</div>

