{% extends "frontend/index.html.twig" %}
{% block content %}

    <div class="wthreeproductdisplay">
        <div id="cbp-pgcontainer" class="cbp-pgcontainer">
            <ul class="cbp-pggrid">
    {% for product in products %}
                <li class="wthree aits w3l">
                    <div class="cbp-pgcontent" id="women-acc-1">

                        <a href="{{ path('single_product_view', {id: product.id}) }}">
                            <div class="cbp-pgitem a3ls">
                                <div class="cbp-pgitem-flip">
                                    <img src="{{ asset('uploads/' ~ product.productImage) }}" alt="Groovy Apparel">
                                    {#<img src="images/acc-11-back.jpg" alt="Groovy Apparel">#}
                                </div>
                            </div>
                        </a>
                        <ul class="cbp-pgoptions w3l">
                            {% if app.user %}
                            <li class="cbp-pgoptcart">
                                {#<form action="#" method="post">#}
                                    {#<input type="hidden" name="cmd" value="_cart">#}
                                    {#<input type="hidden" name="add" value="1">#}
                                    {#<input type="hidden" name="w3l_item" value="{{ product.title }}">#}
                                    {#<input type="hidden" name="amount" value="{{ product.price }}">#}
                                   {##}
                                    {#<span class="w3-agile-line"> </span>#}
                                    {##}
                                {#</form>#}

                                    <a href="{{ path('add_to_cart_action', {id: product.id}) }}">
                                        <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus"></i></button>
                                    </a>
                            </li>
                            {% else %}
                                <div class="alert alert-danger" role="alert">
                                    <strong>You must be logged in to order this product!</strong>
                                </div>
                            {% endif %}
                        </ul>
                    </div>
                    <a href="womens_single.html">
                        <div class="cbp-pginfo w3layouts">
                            <h3>{{ product.title }}</h3>
                            <span class="cbp-pgprice"> {% set product_promotion = calc.calculate(product) %}
                                {% if product_promotion != product.price %}
                                    <del>{{ product.price | number_format(2) }}</del><br>
                                {% endif %}
                                {{ product_promotion | number_format(2) }}</span>
                        </div>
                    </a>
                </li>
    {% endfor %}
            </ul>
        </div>
    </div>



{% endblock %}