{% extends 'frontend/index.html.twig' %}

{% block content %}

    <!-- Single-Product-View -->
    <div class="w3aitssinglewthree">
        <div class="container">

            <div class="products">
                <div class="single-page">
                    <div class="single-page-row" id="detail-21">
                        <div class="col-md-6 single-top-left">
                            <div class="flexslider">
                                <ul class="slides" style="list-style: none">
                                    <li data-thumb="{{ asset('uploads/' ~ product.productImage) }}">
                                        <div class="thumb-image detail_images"> <img src="{{ asset('uploads/' ~ product.productImage) }}" data-imagezoom="true" class="img-responsive" alt="Groovy Apparel"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 single-top-right">
                            <h1 class="item_name">{{ product.title }}</h1>
                            <p>This item will be delivered within 5-10 working days.</p>
                            {#<div class="rating">#}
							{#<span class="starRating">#}
								{#<input id="rating5" type="radio" name="rating" value="5">#}
								{#<label for="rating5">5</label>#}
								{#<input id="rating4" type="radio" name="rating" value="4">#}
								{#<label for="rating4">4</label>#}
								{#<input id="rating3" type="radio" name="rating" value="3">#}
								{#<label for="rating3">3</label>#}
								{#<input id="rating2" type="radio" name="rating" value="2">#}
								{#<label for="rating2">2</label>#}
								{#<input id="rating1" type="radio" name="rating" value="1">#}
								{#<label for="rating1">1</label>#}
							{#</span>#}
                            {#</div>#}
                            <div class="single-price">
                                <ul>
                                    {#<li>$67.5 <small>10% Off</small></li>#}
                                    <li> {% set product_promotion = calc.calculate(product) %}
                                        {% if product_promotion != product.price %}
                                            <del>{{ product.price | number_format(2) }}</del><br>
                                        {% endif %}
                                        {{ product_promotion | number_format(2) }}</li>
                                    {#<li>Ends on: Nov,15th</li>#}
                                    {#<li><a href="#"><i class="fa fa-gift" aria-hidden="true"></i>Apply Coupon</a></li>#}
                                </ul>
                            </div>
                            <p class="single-price-text">{{ product.description }}</p>
                            <p class="single-price-text">Quantity: {{ product.quantity }}</p>
                            <div class="cbp-pgcontent aitssinglew3" id="mens_single">
                                {% if app.user %}
                                <a href="{{ path('add_to_cart_action', {id: product.id}) }}">

                                <button class="btn btn-danger agileits my-cart-btn"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                                </a>
                                {% else %}
                                    <div class="alert alert-danger" role="alert">
                                        <strong>You must be logged in to order this product!</strong>
                                    </div>
                                {% endif %}
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="aitsaccordionw3layouts">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title asd">
                                    <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Description <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body panel_text">
                                    <div class="scrollbar" id="style-2">
                                        {{ product.description }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title asd">
                                    <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Shipping Info <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <h3>Shipping</h3>
                                <ul class="ship">
                                    <li class="day"><i class="fa fa-calendar" aria-hidden="true"></i> 5-10 Business Days</li>
                                    <li class="home"><i class="fa fa-truck" aria-hidden="true"></i> Free Home Delivery</li>
                                    <li class="cod"><i class="fa fa-male" aria-hidden="true"></i> Cash On Delivery Available*</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>COMMENTS</h3>
                <div class="aitsaccordionw3layouts">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        {% for review in product.reviews %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
                                    <h4 class="panel-title asd">
                                        <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">Rank: {{ review.rating }} <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                                    <div class="panel-body panel_text">
                                        <div class="scrollbar" id="style-2">
                                            <b>{{ review.comment }}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            {{ render(controller('OnlineShopBundle:Review:leaveReviewForm', {'id': product.id})) }}

            </div>

        </div>
    </div>
    <!-- //Single-Product-View -->
{% endblock %}


