{% extends '::base.html.twig' %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                User Profile
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="{{ asset('uploads/'~ user.profileImage|default('profildummy.png')) }}" alt="User profile picture">

                            <h3 class="profile-username text-center">{{ user.firstName }} {{ user.lastName }}</h3>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#settings" data-toggle="tab">Edit Profile</a></li>
                        </ul>
                        <div class="tab-content">

                            <div class="tab-pane active" id="settings">
                                <form class="form-horizontal" action="" method="post" enctype='multipart/form-data'>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Username</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputName" placeholder="Username" value="{{ form.username.vars.value }}" name="{{ form.username.vars.full_name }}" required>
                                            <span class="help-block">{{ form_errors(form.username) }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{ form.email.vars.value }}" name="{{ form.email.vars.full_name }}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">First Name</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputName" placeholder="First Name" value="{{ form.first_name.vars.value }}" name="{{ form.first_name.vars.full_name }}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputExperience" class="col-sm-2 control-label">Last Name</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" value="{{ form.last_name.vars.value }}" name="{{ form.last_name.vars.full_name }}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputAddress" placeholder="Address" value="{{ form.address.vars.value }}" name="{{ form.address.vars.full_name }}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputPhone" placeholder="Phone" value="{{ form.phone.vars.value }}" name="{{ form.phone.vars.full_name }}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSkills" class="col-sm-2 control-label">Profile Image</label>

                                        <div class="col-sm-10">
                                            <input type="file" class="form-control" id="inputSkills" name="{{ form.profileImageRow.vars.full_name }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputCash" class="col-sm-2 control-label">Cash</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputCash" value="{{ form.cash.vars.value }}" name="{{ form.cash.vars.full_name }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputBann" class="col-sm-2 control-label">Ban User?</label>
                                        <div class="col-sm-10">
                                           {{ form_widget(form.isEnabled) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRoles" class="col-sm-2 control-label">User roles</label>

                                        <div class="col-sm-10">
                                            {{ form_widget(form.roles) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            {{ form_row(form._token) }}
                                            <button type="submit" class="btn btn-danger">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

