{% extends "::base.html.twig" %}
{% block title %}All Users{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Users
            </h1>

            {% for msg in app.session.flashBag.get('info') %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-info"></i> Info!</h4>
                    {{ msg }}
                </div>
            {% endfor %}

            {% for msg in app.session.flashBag.get('delete') %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-info"></i> Alert!</h4>
                    {{ msg }}
                </div>
            {% endfor %}

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">All Users</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Profile Picture</th>
                            <th>User ID</th>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Ban?</th>
                            <th>Role</th>
                            <th>Cash</th>
                            <th>Actions</th>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td style="width: 150px"><img src="{{ asset('uploads/'~ user.profileImage|default('profildummy.png')) }}" /></td>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{% if user.isEnabled == '0' %}
                                        The User is Banned!
                                    {% else %}
                                        The User is available!
                                    {% endif %}
                                </td>
                                <td>
                                    {% for role in user.roles %}
                                        <span>{{ role }}</span><br/>
                                    {% endfor %}
                                </td>
                                <td>{{ user.cash }}</td>
                                <td>
                                    {#<form method="post" action="{{ path("delete_product_action", {id: item.id}) }}">#}
                                        {#<button type="submit" class="btn btn-block btn-danger">Delete</button>#}
                                    {#</form>#}
                                    <a href="{{ path('user_profile_admin_action',{id: user.id}) }}"><button type="button" class="btn btn-block btn-warning">Edit</button></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- /.box-body -->
            </div>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}