{% extends "::base.html.twig" %}
{% block title %}Register{% endblock %}
{% block body %}
    <body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="{{ path('front_home') }}"><b>Online Shop</b>LTE</a>
        </div>


        <div class="register-box-body">
            <p class="login-box-msg">Register a new membership</p>
            <form method="post" action="{{ path('user_register_action') }}">
                <div class="form-group has-feedback {{ class_error }}">
                    <input type="text" class="form-control" placeholder="Username" name="{{ form.username.vars.full_name }}" required>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.username) }}</span>
                </div>
                <div class="form-group has-feedback {{ class_error }}">
                    {#{{ form.vars.email.full_name }}#}
                    <input type="email" class="form-control" placeholder="Email" name="{{ form.email.vars.full_name }}" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.email) }}</span>
                </div>
                <div class="form-group has-feedback {{ class_error }}">
                    {#{{ form.vars.firstName.full_name }}#}
                    <input type="text" class="form-control" placeholder="First Name" name="{{ form.first_name.vars.full_name }}" required>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.first_name) }}</span>
                </div>
                <div class="form-group has-feedback {{ class_error }}">
                    {#{{ form.vars.lastName.full_name }}#}
                    <input type="text" class="form-control" placeholder="Last Name" name="{{ form.last_name.vars.full_name }}" required>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.last_name) }}</span>
                </div>
                <div class="form-group has-feedback {{ class_error }}">
                    <input type="password" class="form-control" placeholder="Password" name="{{ form.passwordRow.first.vars.full_name }}" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.passwordRow.first) }}</span>
                </div>
                <div class="form-group has-feedback {{ class_error }}">
                    <input type="password" class="form-control" placeholder="Retype password" name="{{ form.passwordRow.second.vars.full_name }}" required>
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.passwordRow.second) }}</span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form._token) }}
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <a href="{{ path('login') }}" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

    </body>
{% endblock %}