{% extends '::base.html.twig' %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Category
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <form action="{{ path('add_category_action') }}" method="post" name="add_category_acion" enctype="multipart/form-data">
                <div class="form-group has-feedback {{ class_error }}">
                    <input type="text" class="form-control" placeholder="Category Name" name="{{ form.title.vars.full_name }}" required>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.title) }}</span>
                </div>
                <div class="form-group has-feedback {{ class_error }}">
                    <textarea class="form-control" placeholder="Category Description" name="{{ form.description.vars.full_name }}" required></textarea>
                    {#<input type="text" class="form-control" placeholder="Category Description" name="{{ form.description.vars.full_name }}">#}
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.description) }}</span>
                </div>
                <div class="form-group has-feedback {{ class_error }}">
                    <label>Picture</label>
                    <input type="file" class="form-control"  name="{{ form.categoryImageForm.vars.full_name }}" required>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.categoryImageForm) }}</span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form._token) }}
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Add Category</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

