{% extends '::base.html.twig' %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Edit Category
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <form action="" method="post" enctype='multipart/form-data'>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Category Name" value="{{ form.title.vars.value }}" name="{{ form.title.vars.full_name }}" required>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.title) }}</span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Category Description" value="{{ form.description.vars.value }}" name="{{ form.description.vars.full_name }}" required>
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.description) }}</span>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-md-3">
                        <label>Picture</label>
                        <img src="{{ asset('uploads/'~ category.categoryImage|default('dummyproductimage.jpg')) }}" />
                    </div>
                    <input type="file" class="form-control"  name="{{ form.categoryImageForm.vars.full_name }}">
                    <span class="glyphicon  form-control-feedback"></span>
                    <span class="help-block">{{ form_errors(form.categoryImageForm) }}</span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form._token) }}
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Edit Category</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

