{% extends "::base.html.twig" %}
{% block title %}Login{% endblock %}
{% block body %}
    <body class="hold-transition login-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="{{ path('front_home') }}"><b>Online Shop</b> LTE</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" name="_password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">login</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

    </body>
{% endblock %}
